# Database
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/seabreeze
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=seabreeze

# App
APP_ENV=development

# CDS API (Copernicus Climate Data Store)
CDSAPI_URL=https://cds.climate.copernicus.eu/api
CDSAPI_KEY=
