# Database
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/seabreeze
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=seabreeze

# App
APP_ENV=development

# CDS API (Copernicus Climate Data Store)
CDSAPI_URL=https://cds.climate.copernicus.eu/api
CDSAPI_KEY=

# Weather cache
WEATHER_CACHE_DIR=../data/cache
DEFAULT_LATITUDE=33.708965
DEFAULT_LONGITUDE=-118.268343
DEFAULT_TIMEZONE=America/Los_Angeles
